<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot Steam - Game List</title>
</head>
<body>

<h1>Hello</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Publishers</th>
        <th>Developers</th>
    </tr>

    <tr th:remove="all">
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>

    <tr th:each="game: ${games}">
        <td th:text="${game.title}"></td>
        <td th:text="${game.genre}"></td>
        <td th:text="${game.price}"></td>
        <td th:text="${game.publishers}"></td>
        <td th:text="${game.developers}"></td>
    </tr>
</table>

</body>
</html>